/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body, input, select, textarea {
  font-family: Open Sans, sans-serif;
}
